<div class="card card-body shadow animated fadeInRight">
    <div class="file-manager">
        <h5>پوشه ها</h5>
        <ul class="folder-list m-b-md p-0">
            <li><a href="{{base_url()}}message/index/inbox"> <i class="fa fa-inbox "></i> ورودی <span class="label label-warning float-right">16</span> </a></li>
            <li><a href="{{base_url()}}message/index/sent"> <i class="far fa-envelope-open"></i> فرستاده شده</a></li>
            <li><a href="{{base_url()}}message/index/deleted"> <i class="far fa-trash-alt"></i> حذف شده</a></li>
        </ul>
    </div>
</div>
